@charset "UTF-8";


/* @media screen (min-width: 960px) {
    body{
        max-width: 960px;
        margin:auto;
        background-color: #fff;
        overflow-wrap: break-word;
        font-size: 115%;
    }
} */

* {
    /* font-family:'Helvetica';*/
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family:Verdana,Geneva,sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
   }


/* h1 {
    font-size: 200%;
} */

h2 {
    text-decoration:underline;
}

/* h3 {
    font-family: Arial, Helvetica, sans-serif;
} */

p span {
    font-size: inherit;
  }

/* p {
    border-style: groove;
    background-color:ghostwhite;
} */

/* ul {
    font-family: Arial, Helvetica, sans-serif;
} */


/* a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
} */

a:link {
    color:blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
}

a:focus {
    border-bottom: 1px solid;
    background: #bae498;
}

a:hover {
    /* border-bottom: 1px solid; */
    background: #cdfeaa;
}

a:active {
    background: #265301;
    color: #cdfeaa;
}

em {
    font-weight: bold;
    font-style: normal;
}

.main-nav {
    display: flex;
    list-style: none;
    column-gap: 40px;
    top: 0;
    left: 0;
    align-items: center;
}

.page-header {
    display: flex;
    position: sticky;
    justify-content:  space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
}

.image-midsize {
    width: 350px;
}

.education-jp {
    list-style:circle;
}

.others-jp {
    list-style:circle;
}

.jp{
    /* font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN"; */
}

/* .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
} */

.image-container {
    margin-right: 20px;
    text-align: right;
}

.text-container h2{
    text-decoration:none !important;
}

.inline-container {
    text-align: justify;
}

@media screen and (min-width: 960px) {
    body{
        max-width: 960px;
        margin: auto;
        font-size: 110%;
    }

    .container {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    .project-container {
        display: grid;
        align-items: center; 
        grid-template-columns: 2fr 1fr;
        column-gap: 50px;
        text-align: justify;
    }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    body{
        margin: 20px; 
        font-size: 110%;
    }

    .container {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .project-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    body{
        margin: 20px; 
        font-size: 110%;
    }

    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .image-container{
        align-items: center;
    }
}

/* Mobile navigation menu */
.phone-header {
    overflow: hidden;
    position: relative;
    padding: 0 30px;
  }

  
  .phone-header #myLinks {
    display: none;
  }
  
  .phone-header a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .phone-header a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  /* .active {
    background-color: #04AA6D;
    color: white;
  } */